  
  /* Sections */
  
  .colored-section {
  
    color: #fff2d0;
  }
  
 
  
  /* Title Section */
  
  #title {
    
    color: #fff2d0;
    text-align: left;
  }
  
 
  /* Testimonial Section */
  
 
  
  .testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  
  
  

  

  
  
  
  
  

  

  